<div class="container mt-4">
  <div class="row">
    <div class="card-articles">
      <% @articles.each do |article| %>
        <h1><%= article.title %> </h1>
        <p>
          <% if article.rich_body.body.attachments.any? %>
            <% article.rich_body.body.attachments.each do |attachment| %>
              <%= image_tag attachment.variant(resize: "500x500") if attachment.image? %>
            <% end %>
          <% end %>


        </p>
      <% end %>
    </div>
  </div>
</div>
