<div class="container mt-4">
  <div class="row">
    <div class="card-articles">
      <% @articles.each do |article| %>
        <h1><%= article.title %> </h1>
        <p><%= article.rich_body %> </p>
      <% end %>
    </div>
  </div>
</div>
