<div class="container">
  <div class="row">
    <% if @breadcrumbs.any? %>
      <ul class="breadcrumbs">
        <% @breadcrumbs.each do |breadcrumb| %>
          <li><%= link_to breadcrumb[:name], breadcrumb[:path] %></li>
        <% end %>
      </ul>
    <% end %>

  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="card-articles">
      <% @articles.each do |article| %>
        <h1><%= article.title %> </h1>
        <p><%= article.rich_body %> </p>
      <% end %>
    </div>
  </div>
</div>
