<% content_for :title do %>
  "Not Authorized"
<% end %>
<div class="row">
  <div class="col-xs-10 col-sm-6 offset-xs-1 offset-sm-3">
    <div class="card my-5">
      <div class="card-body">
        <i class="fas fa-4x fa-ban float-end"></i>
        <h4 class="card-title">Pas autorisé</h4>
        <h6 class="card-subtitle mt-2 mb-3 text-muted">Malheureusement, vous n'avez pas l'autorisation requise.</h6>
        <p class="card-text">Peut-être avez-vous essayé de modifier quelque chose auquel vous n'aviez pas accès ?</p>
      </div>
      <div class="d-flex my-4 ms-4">
        <%= link_to "Retour Accueil", root_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
