a.add-cat i{
  font-size: 2rem;
}

.liste-categories i{
  font-size: 1.4rem;
  margin-right: 0 !important;
}

a.add-cat{
  text-align: center;
  text-decoration: none;
}

span.admin-text-cat{
  margin-left: 1rem;
  font-weight: 600;
  font-size: 1.3rem;
}
