nav.breadcrumb{
  background-color:#ECEAEA;
  margin: 0;
  padding: 0;
}

nav.breadcrumb ol {
  margin: 0;
  margin-left: 40px!important;
  padding: 10px;
}


nav.breadcrumb li a{
  text-decoration: none;
  color: #E75C21;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.breadcrumb-item + .breadcrumb-item::before {
  text-align: left;
  padding-right: 10px!important;
  color: #e75c21!important;
  content: var(--bs-breadcrumb-divider, "/")
}
