.dashboard-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin: 0;
}

.dashboard-sidebar {
  width: 30%; /* ou la largeur que vous préférez pour la sidebar */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonnes de taille égale */
  gap: 30px; /* espace entre les éléments de grille */
  margin: 40px;
  flex-grow: 1; /* Permet à la sidebar de grandir pour remplir l'espace disponible */
  flex: 0 0 auto;
  max-height: 100vh;
}

.main-content {
  width: 70%; /* Largeur ajustée */
  padding: 12px;
  display: flex;
  margin: 0 5rem;
  flex-grow: 1; /* S'étend pour occuper l'espace disponible */
}


.btn-sidebar .img-category {
  width: 80%; /* ensures the image takes up the full container width */
  height: auto; /* maintains the aspect ratio */
  display: block; /* prevents default inline behavior which can cause spacing issues */
}

.dashboard-sidebar img {
  height: 80%; /* force la hauteur de l'image à remplir entièrement sa cellule */
  object-fit: cover; /* s'assure que l'image couvre entièrement la cellule sans être étirée */
}

.dashboard-sidebar img.img-category-la-federation{
  width: 11rem;
  height: auto;
}

.dashboard-sidebar a{
  text-decoration: none;
}

.dashboard-bar {
  width: 250px;
  padding: 15px 0;
  background-color: #FFFDFD;
  border-right: 1px solid #E0E0E0;
  padding-top: 50px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow-y: auto; /* Permet le défilement si nécessaire */
  height: 100vh; /* S'adapte à la hauteur du contenu */
  flex-shrink: 0; /* Empêche la barre de rétrécir */
}

.btn-dashboard-bar {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 30px; /* Espacement entre les éléments */
}

.btn-dashboard-bar .dashboard-item a{
  text-decoration: none;
  color: $gray;
  font-style: normal;
  font-weight: normal;
}

.dashboard-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dashboard-item.active {
  background-color: #E75C21; /* ou toute autre couleur de votre choix */
  font-weight: bold;
  a{
    color:#fff;
  }
}

.dashboard-item:hover {
  background-color: #E75C21;
}

.dashboard-icon {
  margin-right: 10px;
}

.btn-dashboard-bar-child ul {
  list-style-type: none; /* Supprime les puces */
  padding-left: 0; /* Supprime le padding par défaut des listes */
}

.btn-dashboard-bar-child ul li {
  padding: 15px 20px; /* Espacement interne pour chaque élément de liste */
  font-size: 18px; /* Taille de la police */
  cursor: pointer; /* Change le curseur au survol */
  transition: background-color 0.3s; /* Transition douce pour le changement de couleur de fond */
}

.btn-dashboard-bar-child ul li:hover {
  background-color: #FF6B00; /* Couleur de fond au survol */
}

.btn-dashboard-bar-child ul li.active {
  background-color: #FF6B00; /* Couleur de fond pour l'élément actif (vous pouvez l'ajouter dynamiquement via Rails) */
  color: white; /* Couleur du texte pour l'élément actif */
}

.article-category {
  height: 20px;
  width: 50%;
  padding: .5rem .5rem;
  gap: 10px;
  color: #fff;
  color: var(--bs-vert);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
