.login{
  width: 647px;
  height: 495px;
}

.form_login{
  display: flex;
  padding: 21px 34px;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #DFDEDE;
  background: #F9F9F9;

  /* Drop Shadow/Medium */
  box-shadow: 0px 12px 31px 0px rgba(124, 124, 124, 0.10);
  margin-top: 50px;
}

.form_login_header{
  display: flex;
  padding: 8px 0px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.form_login_header .fa-lock{
  font-size: 70px;
  color: #E75C21;
}

.signup{
  width: 647px;
  height: 495px;
}

.form_signup{
  display: flex;
  padding: 21px 34px;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #DFDEDE;
  background: #F9F9F9;

  /* Drop Shadow/Medium */
  box-shadow: 0px 12px 31px 0px rgba(124, 124, 124, 0.10);
  margin-top: 50px;
}

.passwd_forget{
  width: 647px;
  height: 495px;
}

.form_passwd_forget{
  display: flex;
  padding: 21px 34px;
  flex-direction: column;
  gap: 15px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #DFDEDE;
  background: #F9F9F9;

  /* Drop Shadow/Medium */
  box-shadow: 0px 12px 31px 0px rgba(124, 124, 124, 0.10);
  margin-top: 50px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

/* Partie mot de passe oublié */
.form_login_header .fa-unlock {
  font-size: 70px;
  color: #E75C21;
}

/* Formulaire de recherche */
.search-form {
  max-width: 500px; /* or your preferred width */
}

.input-group .form-control {
  border-right: 0; /* remove right border from input field */
}

.input-group .btn-outline-secondary {
  background-color: #FFFFFF; /* match background color with your input field */
  border-left: 0; /* remove left border from button */
}

.search form{
  margin-right: 1rem;
}

/* Style the icon inside the button */
.input-group .btn i {
  color: #333333; /* color of the search icon */

}

/* Adjustments for no border and rounded corners */
.input-group .form-control, .input-group .btn {
  border-color: #CCCCCC; /* color of the border */
  border-radius: 55.056px;
  border: 1.059px solid #DADADA;
  background: #FFF;
}

/* Style focus and hover states */
.input-group .form-control:focus, .input-group .btn:focus {
  box-shadow: none; /* Remove default focus shadow */
  border-color: #666666; /* color of the border on focus */
}

/* Ensure the input group addons maintain the same height as the form-control */
.input-group .btn {
  padding: 0 12px;
}

/* Style pour le champ de texte lorsqu'il est sélectionné (focus) */
.search-input:focus {
  border-color: #F4B400!important; /* Change the border color */
  box-shadow: 0 0 0 0.2rem rgba(231, 92, 33, 0.25)!important; /* Optional: adds a glow effect */
  background-color: #F4B400;
}

/* Style pour le bouton lorsqu'il est sélectionné (focus) */
.btn-outline-secondary:focus {
  border-color: #F4B400!important;
  box-shadow: 0 0 0 0.2rem rgba(231, 92, 33, 0.25);
}

/* Changement de la couleur de fond lors du survol */
.search-input:hover,
.btn-outline-secondary:hover {
  background-color: #F4B400!important;
}
