.img-category {
  // margin-right: 10px;
  padding: 10px 10px;
}

.img-category-infos-cse {
  background: var(--jaune, #F4B400);
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.img-category-infos-rh {
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #7E3794; }
/* ... et ainsi de suite pour les autres catégories */

.img-category-la-federation{
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--bs-orange);
}

.img-category-les-services{
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--bs-blue);
}

.img-category-la-commission-executive-ce{
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--bs-green);
}

.img-category-cap-artois{
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--bs-blue);
}

.img-category-nos-rdv-internes{
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--bs-gris);
}

.img-category-faq{
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--bs-mauve);
}

.img-category-kelio{
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #ffed00;
}

.img-category-workflow{
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--bs-orange);
}

ul .list-group-item img{
  width: 5rem;
  height: auto;
}

// Liste des catégories dans le dashboard
// .liste-categories img.img-category{
//   height: 100px; /* fixe la hauteur à 100px */
//   width: auto; /* ajuste automatiquement la largeur */
//   object-fit: cover; /* assure que l'image couvre entièrement la zone sans perdre ses proportions */
// }
.liste-categories img.img-category {
  height: 100px;
  width: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0;
}
