/* Téléphones (Petits appareils, jusqu'à 600px) */
@media only screen and (max-width: 600px) {
  .login {
    width: 90%; /* Utilisation d'un pourcentage pour la largeur */
    height: auto; /* Hauteur automatique pour une meilleure adaptation */
    margin: 0 auto; /* Centrer le login */
  }

  .form_login {
    gap: 10px;
    margin-top: 20px;
  }

  .form_login_header {
    padding: 8px 0px;
    gap: 1px;
  }

  .form_login_header .fa-lock {
    font-size: 45px;
  }

  .cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .card-publications {
    grid-column: 1 / 2;
    width: calc(100% - 3.125rem);
    overflow: auto;
    margin-bottom: 3rem;
  }
  .article h2 {
    font-size: 1.2em;
  }
  .article p {
    font-size: 0.9em;
  }

  /* Autres styles spécifiques aux téléphones */
  .dashboard-sidebar{
    display: none;
  }
  .card-articles {
    display: flex;
    flex-direction: column;
  }

  .article-header {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
  }

  .card-comment-section {
    margin-left: O;
  }

  .navbar-nav a.dropdown-item  {
    color: #fff;
  }

  .main-content{
    margin: 0;
  }
}

/* Tablettes (entre 576px et 767px) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .card-publications {
    grid-column: 1 / 2;
    width: 90%; /* Ajustement en pourcentage */
    margin: 0 auto; /* Centrer la carte */
  }

  /* Ajustements pour les textes et les autres éléments */
  .article h2 {
    font-size: 1.2em;
  }
  .article p {
    font-size: 0.9em;
  }

  .dashboard-sidebar {
  width: 30%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px!important;
  margin: 30px!important;
  align-content: start;
  }
  .btn-sidebar {
    width: 10vh!important;
    height: auto;
    border-radius: 15px!important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 5px!important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-sidebar-child {
    overflow: unset;
  }

  .category-name {
    margin-top: 5px!important;
    font-family: Inter;
    font-size: 16px!important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .main-content {
  width: 70%;
  padding: 10px!important;
  display: flex;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin: 0 5rem;
  }
}

/* Tablettes / Petits écrans de bureau (768px à 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cards {
    grid-template-columns: 1fr 1fr; /* 2 colonnes pour les tablettes et petits écrans */
  }

  /* Ajustements pour les textes et les autres éléments */
  .card-publications {
    grid-column: 1 / 3;
    width: calc(100% - 3.125rem);
    overflow: auto;
  }
  .article h2 {
    font-size: 1.4em;
  }
  .article p {
    font-size: 1em;
  }
  .dashboard-sidebar {
    width: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 30px;
    align-content: start;
    }
  .btn-sidebar {
      width: 10vh;
      height: auto;
      border-radius: 15px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .btn-sidebar-child {
    overflow: unset;
  }

  .category-name {
      margin-top: 5px;
      font-family: Inter;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .main-content {
    width: 70%;
    padding: 6px!important;
    display: flex;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin: 0 5rem;
    }
    .table-responsive {
      font-size: 0.8rem;
    }
}

/* Écrans de bureau moyens (992px à 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr; /* 3 colonnes pour les écrans moyens */
  }

  .dashboard-sidebar {
    width: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 30px;
    align-content: start;
    }
  .btn-sidebar {
    width: 18vh;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .category-name {
    margin-top: 5px!important;
    font-family: Inter;
    font-size: 16px!important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

    .main-content {
    width: 70%;
    padding: 6px;
    display: flex;
    margin: 0 5rem;
    }

  /* Ajustements pour les textes et les autres éléments */
  .card-publications {
    grid-column: 1 / 4;
    width: calc(100% - 2 * 3.125rem);
  }
  .article h2 {
    font-size: 1.6em;
  }
  .article p {
    font-size: 1.1em;
  }
}

/* Grands écrans de bureau (1200px et plus) */
@media only screen and (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    margin-bottom: 3rem;
  }

  .card-publications {
    grid-column: span 2; /* Étendre sur 2 colonnes */
    width: 80%; /* Largeur adaptée */
    margin: 0 auto; /* Centrer dans la grille */
  }

  /* Ajustements pour les textes et les autres éléments */
  .article h2 {
    font-size: 1.8em;
  }
  .article p {
    font-size: 1.125rem;
  }
}
