.article-title{
  text-decoration: none;
  color: $orange;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.article-title:hover{
  color:$jaune;
}

.article-title {
  flex-grow: 1; /* permet au titre de remplir l'espace disponible */
  margin-right: 10px; /* optionnel: ajoute un peu d'espace entre le titre et les likes */
}
