.article-title{
  text-decoration: none;
  color: $orange;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.article-title:hover{
  color:$jaune;
}
