
trix-editor .attachment--preview img {
  resize: both;
  overflow: auto;
}
// Pour supprimer la légende de l'image
.trix-content .attachment--preview .attachment__caption {
  display: none!important;
}

.trix-content {
  line-height: 1.5;
  margin-top: 1rem;
}
