<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
    <%= stylesheet_link_tag 'application-mailer', media: "all" %>
    <style>
      .attachment__caption {
        display: none !important;
      }
      .avatar{
        height: auto;
        line-height: 100%;
        outline: none;
        text-decoration: none;
        display: block;
        width: 40px;
        border-radius: 50%;
        border-style: none;
        border-width: 0;
      }
    </style>

  </head>
  <body>
    <%= yield %>
  </body>
</html>
